@model WebMain.Models.Game.CategoriesViewModel
@{
    ViewData["Title"] = "Kategorien";
}

@using (Html.BeginForm("StartGameRound", "Game", FormMethod.Post, new { @class = "form-horizontal", role = "form", categories = Model }))
{
    <h2>Suchen sie aus mit welchen Kategorien sie spielen wollen.</h2>
    if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p style="color: red; font-size: x-large">@Model.ErrorMessage</p>
    }

    for (var i = 0; i < Model.AllCategories.Count(); i++)
    {
        @Html.CheckBoxFor(m => m.AllCategories[i].Chosen, Model.AllCategories[i].CategoryName)
        <label> @Model.AllCategories[i].CategoryName</label>
        @Html.HiddenFor(a => a.AllCategories[i].CategoryId)
        @Html.HiddenFor(a => a.AllCategories[i].Chosen)
        @Html.HiddenFor(a => a.AllCategories[i].CategoryName)
        <br />
    }

    <input type="submit" class="btn btn-primary" value="Auswahl bestätigen" />
}